<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  <link rel="icon" href="../../assets/imgs/logo.jpg">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="../../assets/css/flexslider.css" rel="stylesheet">
    <link href="../../assets/css/loginStyle.css" rel="stylesheet">
  <link href="../../assets/css/main-style.css" rel="stylesheet">



  </head>
  <body class="gray-bg">
  	<nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="header">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-4 col-md-4 col-sm-2 siteNameContainer"><a href="index.html">
  					<img src="../../assets/imgs/logo.jpg" height="12%" width="12%" style="padding-bottom: 10px; margin-right: 3px" >
  					<span class="siteName">Registan Plaza</span>
  				</a>
  				</div>
	  			<div class="col-lg-8 col-md-8 col-sm-9">
	  				<div class="menu_header">
		              <i class="fa fa-bars"></i>
		            </div>
	  				<nav class="navBar">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li> <a href="index.html#rooms_4">Room</a></li>
							<li><a href="about.html" class="active">About</a></li>
							<li><a href="contact.html">Contact</a></li>

      						<!-- ============================================= -->
      						<li>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Login </a>
							<ul id="login-dp" class="dropdown-menu right" >
								<li>
									 <div class="row">
										<div class="col-md-12">

											<img src="../../assets/imgs/admin1.png" class="img-circle" id="admin2"> <br> <br>

										 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
											<div class="form-group">
											 <input type="text" class="form-control" placeholder="Username" required>
											</div>
											<div class="form-group">
												 <label class="sr-only" for="inputPassword">Password</label>
												 <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>

											</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>

								 		 </form>
										</div>

					 				</div>
								</li>
							</ul>
							</li>
							</ul>


      						<!-- ============================================= -->


					 </nav>
				   </div>
	  			</div>
  			</div>
  			</div>
       </nav>

     <!--CARUSEAL  -->
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<section class="banner">

		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="banner-inner">
					<h1 class="banner-title">Wonderful<span class="yellow-text"> Rooms </span></h1>
					<p class="banner-subtitle">For Your Comfort</p>
					<a href="#more" class="banner-link">Learn More</a>
				</div>
		      <img src="../../assets/imgs/picture1.jpg" />
		    </li>
		    <li>
			    <div class="banner-inner">
					<h1 class="banner-title"><span class="yellow-text">Enjoyable Bars </span></h1>
					<p class="banner-subtitle">For your Relax</p>
					<a href="#more" class="banner-link">Learn More</a>
				</div>
		      <img src="../../assets/imgs/picture2.jpg" />
		    </li>
		    <li>
			    <div class="banner-inner">
					<h1 class="banner-title"><span class="yellow-text">Amazing Swimming Pools</span></h1>
					<p class="banner-subtitle"></p>
					<a href="#more" class="banner-link">Learn More</a>
				</div>
		      <img src="../../assets/imgs/picture3.jpg" />
		    </li>
		  </ul>
		</div>
	</section>

	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<section class="container home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider flexslider-about effect2">
			  <ul class="slides">
			    <li>
			      <img src="../../assets/imgs/hotel.JPG"  alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">Welcome To Registan Plaza <img src=""> </h2>
			      	<h3 class="slider-subtitle"> </h3>

			      	<p class="slider-description">We have honour to introduce you Hotel Registan Plaza in Samarkand. Conveniently located in the city centre, the Hotel is in immediate proximity to both business part of the city and historical sights of the Old Town. Design and structure of the Hotel as well as its interior meet the up-to-date standards of the hotel industry. You and your guests are offered high-quality european services with underlying Oriental hospitality.
					In the Hotel President at your disposal are the following facilities: four lifts cater for seven floors; 165 spacious and comfortable rooms, beautifully furnished providing satellite TV, internal and IDD telephones, mini-bars, air-conditioners and well-equipped bathrooms. A special offer for VIP's is our luxurious apartments adorned in Spanish style, with a living room, meeting-room, two bedrooms and two bathrooms equipped with jacuzzi and Charcot's douche.</p>
			      	<div class="slider-social">
			      	</div>
			      </div>
			    </li>
			    <li>
			      <img src="../../assets/imgs/res.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">Restourant</h2>
			      	<h3 class="slider-subtitle">  </h3>
			      	<p class="slider-description">The hotel also runs comfortable restaurant where you will be offered “smorgasbord” for breakfast or hot dinner - whatever you choose, one meal is included into your bill. Soft charming light and calm music create romantic atmosphere and good spirit to have a nice dinner or to celebrate something. Restaurant offers wide choice of Uzbek and European cuisine dishes. Nice continuation of the restaurant is comfortable lobby where you can spent your free time enjoying silence and peacefulness, or light music, or communicate to someone in the relaxing candle light and appropriate atmosphere. Enjoying the cosy atmosphere of our bars and restaurants, you and your guests will be offered a wide variety of dishes of European and Uzbek cuisine as well as soft and strong drinks. Our two restaurants and bars can accommodate up to 240 persons<br><br>

                    </p>
			      	<div class="slider-social">
			      	</div>
			      </div>
			    </li>
			    <li>
			      <img src="../../assets/imgs/gym.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">Fitness Center</h2>
			      	<h3 class="slider-subtitle">         </h3>
			      	<p class="slider-description"> Fitness Center:modern and well equipped, with indoor swimming pool, sauna and massage service, at your disposal everyday from 9:00 till 22:00 (entrance fee - $3 per day).    </p>
			      	<div class="slider-social">
			      	</div>
			      </div>
			    </li>

			  </ul>
			</div>
		</div>


	</section>

	<!-- white bg -->
	<section class="white-bg section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="section-title">Services</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
				</div>
			</div>
			<div class="row">
				<!-- Testimonial -->
				<div class="col-lg-12">
					<div class="plusServices">
						<div class="about-box margin-bottom-30">
							<img src="../../assets/imgs/trip.jpg" alt="image" class="about-box-img" height="40%" width="40%">
							<div class="about-box-text">
								<h3 class="about-box-title">Trip around Samarkand</h3>
				                <p class="about-box-description gray-text">
				                Since the 9th-10th centuries, Samarkand became a cultural center of the Islamic East and the first capital of the Samanids. Ruins of the Samanid palace with carved panels were found in the western sector of Afrasiab. In the 9th-10th centuries the inner city occupied 220 hectares. The suburb with markets, mosques, baths and caravansaries adjoined it in the south. The city had lead water supply. Manufacturing of Chinese paper was developing. Numerous workshops using water mills aroused on the banks of the Siab.

				                </p>
							</div>
						</div>
						<div class="about-box">
							<img src="../../assets/imgs/bus.jpg" alt="image" class="about-box-img" height="40%" width="40%">
							 <div class="about-box-text">
								<!-- <h3 class="about-box-title"> Hotel Registan Plaza  </h3>
				                <p class="about-box-description gray-text"> </p>
				                <p class="about-box-footer">Firuz Juraev</p> -->


							<!--y,outebeac-->

								<iframe width="430" height="240"
										src="https://www.youtube.com/embed/KKwgmc0CxIs">
								</iframe>

							<!--yotube collapse-->

							</div>
						</div>
					</div>
					<div class="testimonials-box">
						<h3 class="testimonials-title">Hotel Services</h3>
						<div class="testimonials-content">


								<p>Roma Bar</p>

								<p>Fitness Center</p>

	       						<p> Souvenir Shop<p>

	       						<p>Safe Deposit Boxes<p>

	       						<p> Barber's Shop<p>
	       						<p> Laundry Service<p>
	       						<p> Car Parking<p>




						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="black-bg">
		<div class="container">
			<div class="row">
				<p class="addressFooter"> 53, Shokhrukh Str., Samarkand city, Uzbekistan</p>
			</div>
		</div>
	</footer>

  <script type="text/javascript" src="../../assets/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../../assets/js/moment.js"></script>
  <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../assets/js/jquery.flexslider-min.js"></script>

  <script type="text/javascript" src="../../assets/js/navbarShrink.js"></script>
  <script type="text/javascript" src="../../assets/js/aboutPage.js"></script>
  <script type="text/javascript" src="../../assets/js/main-script.js"></script>

 </body>
 </html>
