<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact</title>
	<link rel="icon" href="../../assets/imgs/logo.jpg">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
	<link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="../../assets/css/flexslider.css" rel="stylesheet">
	<link href="../../assets/css/main-style.css" rel="stylesheet">
	<link href="../../assets/css/loginStyle.css" rel="stylesheet">
	<link href="../../assets/css/bootstrapValidator.css" rel="stylesheet">
    <link href="../../assets/css/bootstrapValidator.min.css" rel="stylesheet">

	<style>#success_message{ display: none;}
		#submit_button{margin-bottom: 11px;}
 		</style>


</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="header">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-4 col-md-4 col-sm-2 siteNameContainer"><a href="index.html">
  					<img src="../../assets/imgs/logo.jpg" height="12%" width="12%" style="padding-bottom: 10px; margin-right: 3px" >
  					<span class="siteName">Registan Plaza</span>
  				</a>
  				</div>
	  			<div class="col-lg-8 col-md-8 col-sm-9">
	  				<div class="menu_header">
		              <i class="fa fa-bars"></i>
		            </div>
	  				<nav class="navBar">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li> <a href="index.html#rooms_4">Room</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html" class="active">Contact</a></li>

      						<!-- ============================================= -->
      						<li>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Login </a>
							<ul id="login-dp" class="dropdown-menu right" >
								<li>
									 <div class="row">
										<div class="col-md-12">

											<img src="../../assets/imgs/admin1.png" class="img-circle" id="admin1" > <br> <br>

										 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
											<div class="form-group">
											 <input type="text" class="form-control" placeholder="Username" required>
											</div>
											<div class="form-group">
												 <label class="sr-only" for="inputPassword">Password</label>
												 <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>

											</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>

								 		 </form>
										</div>

					 				</div>
								</li>
							</ul>
							</li>
							</ul>


      						<!-- ============================================= -->


					 </nav>
				   </div>
	  			</div>
  			</div>
  			</div>
       </nav>

	<!-- Banner -->
	<section class="banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>

				<img src="../../assets/imgs/reception.jpg" alt="Banner 3" />
		    </li>
		  </ul>
		</div>
	</section>

	<!-- gray bg -->
	<section class="container home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact contact-box" style="display: flex; flex-direction: row;">

<!-- Doston Toshbekov -->
				<!--faceboox.k-->
						<div class="col-sm-6">

							<div id="fb-root"></div>
							<script>(function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>


							<div class="fb-page" data-href="https://www.facebook.com/Registan-Plaza-Hotel-289093221550662/" data-tabs="timeline" data-width="540" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Registan-Plaza-Hotel-289093221550662/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Registan-Plaza-Hotel-289093221550662/">Registan-Plaza Hotel</a></blockquote></div>

						</div>
					<!--facebook collaps-->

<!-- end facebook -->

				<ul class="slides">
					<li>

						<!-- <img src="img/world-map.png" alt="image" class="contact-image" /> -->
						<div class="contact-text">
							<h2 class="slider-title">Registan Plaza</h2>
							<h3 class="slider-subtitle">24 hours</h3>
							<p class="slider-description">53, Shokhrukh str. Samarkand 140100 Uzbekistan <br>
														  Freephone: +998 66 2332475 <br>
													   	Telephone: +998 66 2334076<br>
										               Fax: +998 66 2334976 <br>
									                info@registan-plaza.com</p>
							<div class="slider-social">
								<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- white bg -->
	<section class="section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="
				section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="section-title">Contact Us</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
				</div>
			</div>
			<div class="row">
				<!-- contact form -->
				<form action=" " method="post" id="contact_form" class="contact-form">
					<div class="col-lg-6 col-md-6">
						<div id="map" style="width:500px;height:315px"></div>

						<div class="contact-social">
							<a href="#" class="tm-social-icon facebookS"><i class="fa fa-facebook"></i></a>
				      		<a href="#" class="tm-social-icon dribbbleS"><i class="fa fa-dribbble"></i></a>
				      		<a href="#" class="tm-social-icon twitterS"><i class="fa fa-twitter"></i></a>
				      		<a href="#" class="tm-social-icon instagramS"><i class="fa fa-instagram"></i></a>
				      		<a href="#" class="tm-social-icon googlePlus"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 forContactDetails">
						<div class="form-group">
							<input type="text" name="first_name" class="form-control" placeholder="NAME" />
						</div>
						<div class="form-group">
							<input type="email" name="email" class="form-control" placeholder="EMAIL" />
						</div>
						<div class="form-group">
							<input type="text" name="mail_subject" class="form-control" placeholder="SUBJECT" />
						</div>
						<div class="form-group">
							<textarea name="contact_message" class="form-control" rows="6" placeholder="MESSAGE"></textarea>
						</div>
						<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>
						<div class="form-group">
							<button class="sentMail" type="submit" id="submit_button" name="submit">Submit now</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<footer class="black-bg">
		<div class="container">
			<div class="row">
				<p class="addressFooter"> 53, Shokhrukh Str., Samarkand city, Uzbekistan</p>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="../../assets/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery.flexslider-min.js"></script>


	<script type="text/javascript" src="../../assets/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="../../assets/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="../../assets/js/navbarShrink.js"></script>
	<script type="text/javascript" src="../../assets/js/contactPage.js"> </script>
	<script type="text/javascript" src="../../assets/js/reg.js"></script>
	<script type="text/javascript" src="../../assets/js/main-script.js"></script>




	<!--map-->
	<script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var myCenter = new google.maps.LatLng(39.650775,66.962416);
            var mapOptions = {center: myCenter, zoom: 14};
            var map = new google.maps.Map(mapCanvas,mapOptions);
            var marker = new google.maps.Marker({
                position: myCenter,
                animation: google.maps.Animation.BOUNCE
            });
            marker.setMap(map);
        }
	</script>


	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtg18OiytPKsxDIM4F2RGYLJTKdVUuzAs&callback=myMap"></script>
</body>
</html>
