<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registan Plaza</title>
  <link rel="icon" href="../../assets/imgs/logo.jpg">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="../../assets/css/flexslider.css" rel="stylesheet">
  <link href="../../assets/css/Style.css" rel="stylesheet">

  <link href="../../assets/css/loginPage.css" rel="stylesheet">

  <link href="../../assets/css/main-style.css" rel="stylesheet">


  </head>
  <body class="gray-bg">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-2 siteNameContainer"><a href="index.html">
                    <img src="../../assets/imgs/logo.jpg" height="12%" width="12%" style="padding-bottom: 10px; margin-right: 3px" >
                    <span class="siteName">Registan Plaza</span>
                </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-9">
                    <div class="menu_header">
                      <i class="fa fa-bars"></i>
                    </div>
                    <nav class="navBar">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li> <a href="#rooms_4">Room</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="login.html" class="active">Login</a></li>
                        </ul>

                     </nav>
                   </div>
                </div>
            </div>
        </div>
       </nav>

<!-- Code    ======================================================================================== -->

  <section class="container home-section-1" id="more">

    <div class="container">
        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">

                <span id="reauth-email" class="reauth-email"></span>

                <input type="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form>

            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div>
    </div>

  </section>

<!-- ================================================================================================== -->




    <footer class="black-bg">
        <div class="container">
            <div class="row">
                <p class="addressFooter"> 53, Shokhrukh Str., Samarkand city, Uzbekistan</p>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../../assets/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../assets/js/moment.js"></script>
    <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../assets/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="../../assets/js/main-script.js"></script>
    <script type="text/javascript" src="../../assets/js/navbarShrink.js"></script>
 </body>
 </html>
