/* Section 1, index.html */
.tm-gray-bg { background-color: #E5E5E5; }
.tm-home-section-1 {
	position: relative;
	top: -50px;
}
.form-control {	border-radius: 0; }
.form-control:focus {
	border-color: #FCDD44;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(252, 221, 68, 0.6);
}
.tm-yellow-gradient-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d11d+0,f3d10e+1,efcf1c+2,fccd0d+4,f7ca0d+5,f9cb1e+6,f7cb10+7,f8cc14+8,f0c40c+54,edc50c+55,e9c108+71,ecc008+78,e6be06+91,e9bd06+93,e8bc06+100 */
	background: #f5d11d; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to bottom,  #f5d11d 0%,#f3d10e 1%,#efcf1c 2%,#fccd0d 4%,#f7ca0d 5%,#f9cb1e 6%,#f7cb10 7%,#f8cc14 8%,#f0c40c 54%,#edc50c 55%,#e9c108 71%,#ecc008 78%,#e6be06 91%,#e9bd06 93%,#e8bc06 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d11d', endColorstr='#e8bc06',GradientType=0 ); /* IE6-9 */
}
.tm-green-gradient-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ec66b+0,2dc970+1,2ac96c+2,2bc76e+4,2bc869+5,2ac871+6,29c86c+7,28c76b+15,2bc76c+16,21bb61+73,1eb860+100 */
	background: #2ec66b; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to bottom,  #2ec66b 0%,#2dc970 1%,#2ac96c 2%,#2bc76e 4%,#2bc869 5%,#2ac871 6%,#29c86c 7%,#28c76b 15%,#2bc76c 16%,#21bb61 73%,#1eb860 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ec66b', endColorstr='#1eb860',GradientType=0 ); /* IE6-9 */
}
.tm-red-gradient-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e97262+0,ef6865+1,ed6c5f+2,f07162+4,f17062+5,eb6f67+6,ec6c5f+7,ec6b5e+18,eb5d4f+56,e95242+100 */
	background: #e97262; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to bottom,  #e97262 0%,#ef6865 1%,#ed6c5f 2%,#f07162 4%,#f17062 5%,#eb6f67 6%,#ec6c5f 7%,#ec6b5e 18%,#eb5d4f 56%,#e95242 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e97262', endColorstr='#e95242',GradientType=0 ); /* IE6-9 */
}
.tm-yellow-gradient-bg,
.tm-green-gradient-bg,
.tm-red-gradient-bg {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 88px;
}
.tm-city-price-container {
	padding: 30px 0;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
.tm-city-price-container:hover { font-weight: 600; }
.tm-yellow-btn {
	width: 130px;
	height: 40px;
	background-color: #F5D338;
	border: medium none;
	color: #5C4905;
	font-size: 12px;
	margin: 24px auto;
	text-transform: uppercase;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.tm-yellow-btn:hover,
.tm-yellow-btn:focus {
	background-color: #F9E58B;
}
.tm-form-inner { padding: 35px 30px 5px; }

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:160px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.tm-white-bg {
	background-color: #fff;
}
.tm-home-box-1 {
	width: 346px;
	height: 436px;
}
.tm-home-box-1-center {
	margin: 0 auto;
}
.tm-home-box-1-right,
.tm-home-box-2-right {
	margin-left: auto;
}
.input-group-addon { border-radius: 0; }
#hotelCarTabs {
	border-bottom: none;
	height: 52px;
}
#hotelCarTabs li {
	width: 50%;
	height: 100%;
}
#hotelCarTabs > li > a {
	margin-right: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	background: transparent linear-gradient(to bottom, #F5D11D 0%, #F3D10E 1%, #EFCF1C 2%, #FCCD0D 4%, #F7CA0D 5%, #F9CB1E 6%, #F7CB10 7%, #F8CC14 8%, #F0C40C 54%, #EDC50C 55%, #E9C108 71%, #ECC008 78%, #E6BE06 91%, #E9BD06 93%, #E8BC06 100%) repeat scroll 0% 0%;
	border: none;
	border-radius: 0;
	color: #5C4905;
	font-weight: 600;
}
#hotelCarTabs > li > a:hover,
#hotelCarTabs > li > a:focus {
	border: none;
	background: #F9E58B;
}
#hotelCarTabs > li.active > a, 
#hotelCarTabs > li.active > a:focus, 
#hotelCarTabs > li.active > a:hover
{
	background: transparent;
	border: none;	
}
/* Footer */
.tm-black-bg { background-color: #000; }
.tm-copyright-text {
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.tm-copyright-text a {
	color: #FCDD44;
}

.tm-copyright-text a:hover {
	color: white;
}

.hotel-search-form .form-group { margin-bottom: 30px; }