<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../assets/css/dashboard.css" rel="stylesheet"/>

  </head>
  <body>

    <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
        <div  class="navbar-brand">
            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
    			 <a href="#">Dashboard</a>
        </div>
			</div>

		</div>
	</nav>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li>
                    <a href="room_booking.html">
                        <span class="fa fa-anchor solo ">Room Booking</span>
                    </a>
                </li>
                <li>
                    <a href="guest_management.html">
                        <span class="fa fa-anchor solo">Guest Management</span>
                    </a>
                </li>
                <li class="active">
                    <a href="booking_management.html">
                        <span class="fa fa-anchor solo">Booking Management</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                      <table class="table table-striped ">
                          <thead>
                            <tr>
                              <th>Firstname</th>
                              <th>Lastname</th>
                              <th>Date</th>
                              <th>Date</th>
                              <th>Email</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>John</td>
                              <td>Doe</td>
                              <td>12.12.12</td>
                              <td>12.12.12</td>
                              <td>john@example.com</td>
                              <td><button type="button" class="btn btn-primary">Check-in</button></td>
                            </tr>
                            <tr>
                              <td>Mary</td>
                              <td>Moe</td>
                              <td>12.12.12</td>
                              <td>12.12.12</td>
                              <td>mary@example.com</td>
                              <td><button type="button" class="btn btn-primary">Check-in</button></td>
                            </tr>
                            <tr>
                              <td>July</td>
                              <td>Dooley</td>
                              <td>12.12.12</td>
                              <td>12.12.12</td>
                              <td>july@example.com</td>
                              <td><button type="button" class="btn btn-primary">Check-in</button></td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../assets/js/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/js/dashboard.js"></script>

  </body>
</html>
